@media(max-width:1000px){
  .bar{
    width:50%;
    margin-bottom:25px;
  }
  .top-wrapper h1{
    font-size: 32px;
  }
  .heading h2{
    font-size: 20px;
  }
}
@media(max-width:670px){
  .bar{
    width:100%;
  }
  footer{
    text-align: center;
  }
  form{
    text-align: left;
    width:100%;
  }
  .top-wrapper{
    text-align: left;
    padding-top: 130px;
  }
  .top-wrapper h1{
    font-size:24px;
    line-height:36px;
  }
  .top-wrapper h2{
    font-size:14px;
    line-height:20px;
  }
  .header-right{
    display:none;
  }
  .menu-icon{
    display :block;
  }
}
